.App {
  text-align: center;
}
.flex-display{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.card-view{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  padding: 12px;
  width: 10%;
  margin: 5px;
}
.sno{
  font-size: 13px;
}
